/* Overall Styling */
body {
  background-color: azure;
  box-sizing: border-box;
}
#div-cards {
  margin: 50px 0 30px 0;
}
/* end Overall Styling */

/* Button styling */
#div-animal-buttons {
  margin: 25px;
}
.btn {
  margin: 15px 30px 0px 30px;
}
.btn-default {
  padding: 5px 30px 5px 30px;
}
/* end Button styling */

/* Card Styling */
.panel {
  max-width: 25vw;
  margin: 0px 25px 12px 25px;
  display: inline-block;
}
img {
  border: 0.5px solid grey;
  border-radius: 4px;
  padding: 8px;
  width: 100%;
}
    /* Animal type background and font color */
.type-cat {
  background-color: #d8edf6;
  color: #3984c8;
}
.type-dog {
  background-color: #deefd9;
  color: #418e4c;
}
.type-dino {
  background-color: #fdf8e4;
  color: #ffc479;
}
    /* end Animal type background and font color */
/* end ard Styling */
